[webserver]
${ip-ec2} # ${nome-ec2}
${ip-ec22} # ${nome-ec22}

[webserver:vars]
ansible_ssh_user=ec2-user
ansible_ssh_private_key_file='/root/lab.pem'
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
